/* element selector */
h1 {
    color: red;
}

/* ID selector */
#first {
    color: blue;
}

/* class selector */
.second {
    color: green;
}

/* all element */
* {
    font-size: 20px;
}

/* grouping */
.second , #fourth {
    font-size: 30px;
}

/* child selector */
span.first {
    color: purple;
}

/* element element */
.parent .child {
    color: orange;
}

/* element > element */
.parent2 > .child {
    border: 1px solid black;
}

/* elemetn + element */
.title + .description {
    border: 1px solid black;
}

/* element ~ element */
.title2 ~ .description2 {
    border: 1px solid black;
}