* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 30px auto;
    position: relative;
}

.price::before {
    content: '';
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 73px;
    background-color: #ff0000;
    top: 0;
    bottom: 0;
    margin: auto;
}