.box {
    width:1000px;
    height: 500px;

    background-image: url('https://www.w3schools.com/css/mountain.jpg');

    background-size: cover;
    background-size: contain;
    background-size: 100%;

    background-repeat: repeat;
    background-repeat: no-repeat;

    background-attachment: fixed;
    background-attachment: scroll;

    background-position: center;
    background-position: top;

    background: url('https://www.w3schools.com/css/mountain.jpg') no-repeat fixed center;
}