* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 30px auto;
    border: 1px solid #000;
    width: 1280px;
    height: 500px;
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.box1 {
    background-color: red;
    height: 100px;
    width: 300px;
}

.box2 {
    background-color: blue;
    height: 300px;
    width: 300px;
}

.box3 { 
    background-color: green;
    height: 200px;
    width: 300px;
}