.boxParent {
    width: 600px;
    height: 600px;
    background-color: #8cff44;
}

.boxChild {
    width: 300px;
    height: 300px;
    background-color: #000000;
}

.boxChildInner {
    width: 50%;
    height: 70%;
    background-color: #ff0000;
}

.boxChildInnerInner {
    width: 5.5rem; /* 5.5rem = 88px */
    height: 3.5rem; /* 3.5rem = 56px */
    background-color: #3900bf;
}

h1 {
    font-size: 3rem;
}

span {
    font-size: 0.5em;
}

.boxParent2 {
    width: 70vw;
    height: 50vh;
    background-color: #ff44da;
}

.boxParent3 {
    width: 70vw;
    height: 90vh;
    max-width: 800px;
    max-height: 200px;
    min-width: 500px;
    min-height: 100px;
    background-color: #4444ff;
}