* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn {
    background-color: aquamarine;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 30px 0 30px 50px;
}

.btn:hover {
    background-color: azure;
    border: 1px solid #ff0000;
}

.btn:active {
    background-color: #000;
    color: #fff;
    border: 1px solid #00ff48;
}

a {
    display: inline-block;
    margin: 30px 0 30px 50px;
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #00ff48;
}

textinput {
    display: block;
    margin: 30px 0 30px 50px;
}

textinput:focus {
    width: 500px;
    padding: 10px;
}

.checkbox {
    display: block;
    margin: 30px 0 10px 50px;
}

.alertCheckbox {
    display: none;
    margin: 0px 0 30px 50px;
    color: #000000;
}

.checkbox:checked + .alertCheckbox {
    display: block;
    color: #000000;
}


.list .item:first-child{
    background-color: #000000;
    color: #fff;
}

.list .item:last-child{
    background-color: #ff0000;
}

.list .item:nth-child(3){
    background-color: #00ff48;
}

.list .item:not(.notActive){
    background-color: #0071a5;
    color: #fff;
}

div:empty {
    background-color: #ff0000;
    height: 100px;
    width: 100px;
}