* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #e63946;
    border-radius: 12px;
    animation-name: moveBox;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes moveBox {
    from {
        transform: translateX(-150px) rotate(180deg) scale(0.5);
        box-shadow: 0 0 10px 0 rgba(217, 126, 126, 0.5);
        background-color: #e63946;
    }
    to {
        transform: translateX(150px) rotate(360deg) scale(1.5);
        box-shadow: 0 0 10px 0 rgba(77, 153, 184, 0.5);
        background-color: #457b9d;
    }
}
