* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    margin: 40px 0 0 50px;
    font-size: 40px;
}

h1 {
    text-shadow: 5px 5px 2px #bfbfbf;
    
}

p {
    color: #6738e9;
    text-shadow: 5px 5px 2px #caa6ff;
}